:root > * {
  --pitch-red: #F5436D;
  --pitch-blue: #39C1FF;
  --pitch-orange: #fca311;
  --pitch-green: #40D4A6;
  --pitch-purple: #afa2ff;
}

body[data-md-color-scheme="default"] {
  --md-primary-fg-color: #E20033;
  --md-accent-fg-color: #E20033; 
}

body[data-md-color-scheme="slate"] {
  --md-accent-fg-color: #FCFF61; 
  --md-accent-bg-color: #000;
  --md-default-fg-color: rgba(255, 255, 255, 0.87);
  --md-default-bg-color: #1c1d21;
  --md-primary-fg-color:             #FCFF61;
  --md-typeset-a-color:              var(--md-primary-fg-color) !important;
  --pa-overline-color:               #FCFF61;
}

/* Pitch Accent Colors */
.heiban span[style*="border-color:currentColor"], 
.t-heiban { 
  color: var(--pitch-blue); 
}

.atamadaka span[style*="border-color:currentColor"], 
.t-atamadaka { 
  color: var(--pitch-red); 
}

.nakadaka span[style*="border-color:currentColor"], 
.t-nakadaka { 
  color: var(--pitch-orange); 
}

.odaka span[style*="border-color:currentColor"], 
.t-odaka { 
  color: var(--pitch-green); 
}

.kifuku span[style*="border-color:currentColor"], 
.t-kifuku { 
  color: var(--pitch-purple); 
}

.md-footer-meta {
  display: none;
}
